.header{
    background-image: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 5rem 18rem;

    &__logo-box{
        margin-bottom: 1.5rem;
    }

    &__btn-box{
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
        min-width: 80%;


    }
}


.info-snippet{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 5rem 18rem;
}

.info-services{
    display: flex;

    &__img-container{
        margin-left: -5rem;
        max-width: 100%;
        height: auto;
        display: block;
    }


    &__service{
        width: 65%;
        margin-bottom: 0.8rem;
        margin-left: 5rem;
    }
}

.info-access{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 5rem 18rem;

    &__img-container{
        margin-top: 5rem;
        height: auto;
        display: block;
    }
}

.info-workflow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3rem;
}

.info-services-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;

    &__service{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 3.5rem;

    }
}

.info-companies{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
}

.info-download{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 5rem 18rem;
    margin-bottom: 5rem;

    &__btn-box{
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
        min-width: 80%;

    }
}

.footer{
    background-color: rgba($color: $grayish-blue, $alpha: 0.5);
    display: flex;

    &__logo-box{
        padding: 3.5rem;
        height: 5rem;
        text-align: center;
    }

    &__logo{
        width: 75%;
    }

    &__links{
        flex: 1;
        padding: 3.5rem;

        ul{
            display: grid;
            grid-template-columns: repeat(3, max-content);
            grid-template-rows: repeat(2, 1fr);
            grid-auto-flow: column;
            grid-gap: 3rem;
            align-items: center;
            list-style: none;
        }

    }

    &__social{
        display: flex;
        justify-content: space-around;
        flex: 1;
        padding-left: 12rem;
        padding-right: 3.5rem;
    }

    &__icon{
        cursor: pointer;
    }
}

.attribution { font-size: 11px; text-align: center; background-color: rgba($color: $grayish-blue, $alpha: 0.5);}
.attribution a { color: hsl(228, 45%, 44%); }