*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 12px;
  }
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
}

.text {
  color: #9fabb2;
  line-height: 1.7rem;
  margin-top: 0.8rem;
}

h1, h2, h3 {
  color: #4c545d;
}

.icon {
  margin-bottom: 0.8rem;
}

li {
  color: #4c545d;
  cursor: pointer;
}

.btn {
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 50px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.8;
}

.btn-ios {
  background-color: #26baa4;
  -webkit-box-shadow: 5px 5px 10px rgba(38, 186, 164, 0.8);
          box-shadow: 5px 5px 10px rgba(38, 186, 164, 0.8);
}

@media only screen and (max-width: 1200px) {
  .btn-ios {
    margin-right: 1.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .btn-ios {
    margin-bottom: 1rem;
    margin-right: 0;
  }
}

.btn-mac {
  background-color: #6173ff;
  -webkit-box-shadow: 5px 5px 10px rgba(97, 115, 255, 0.8);
          box-shadow: 5px 5px 10px rgba(97, 115, 255, 0.8);
}

.header {
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 5rem 18rem;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 5rem 12rem;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 3rem 8rem;
    background-image: url(../images/bg-header-mobile.png);
  }
}

@media only screen and (max-width: 400px) {
  .header {
    padding: 3rem 5rem;
  }
}

.header__logo-box {
  margin-bottom: 1.5rem;
}

.header__btn-box {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 80%;
}

@media only screen and (max-width: 600px) {
  .header__btn-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 100%;
  }
}

.info-snippet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 5rem 18rem;
}

@media only screen and (max-width: 768px) {
  .info-snippet {
    padding: 5rem 12rem;
  }
}

@media only screen and (max-width: 600px) {
  .info-snippet {
    padding: 5rem 10rem;
  }
}

@media only screen and (max-width: 400px) {
  .info-snippet {
    padding: 5rem;
  }
}

.info-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 900px) {
  .info-services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.info-services__img-container {
  margin-left: -5rem;
  max-width: 100%;
  height: auto;
  display: block;
}

@media only screen and (max-width: 1000px) {
  .info-services__img-container {
    margin-left: -15rem;
  }
}

@media only screen and (max-width: 900px) {
  .info-services__img-container {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .info-services__img-container {
    width: 80%;
    margin: 1.5rem auto;
  }
}

.info-services__service {
  width: 65%;
  margin-bottom: 0.8rem;
  margin-left: 5rem;
}

@media only screen and (max-width: 1000px) {
  .info-services__service {
    width: 70%;
  }
}

@media only screen and (max-width: 900px) {
  .info-services__service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 2rem 10rem;
    margin-left: 8rem;
  }
}

@media only screen and (max-width: 600px) {
  .info-services__service {
    padding: 5rem 3rem;
    margin-left: 6rem;
  }
}

@media only screen and (max-width: 400px) {
  .info-services__service {
    margin-left: 5rem;
    padding: 3rem 2rem;
  }
}

.info-access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 5rem 18rem;
}

@media only screen and (max-width: 768px) {
  .info-access {
    padding: 5rem;
  }
}

.info-access__img-container {
  margin-top: 5rem;
  height: auto;
  display: block;
}

@media only screen and (max-width: 768px) {
  .info-access__img-container {
    width: 100%;
    margin: auto;
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .info-access__img {
    max-width: 100%;
    margin: auto;
  }
}

.info-workflow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 3rem;
}

.info-services-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
}

@media only screen and (max-width: 768px) {
  .info-services-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
    margin-left: 8rem;
  }
}

@media only screen and (max-width: 600px) {
  .info-services-2 {
    margin-left: 6rem;
  }
}

@media only screen and (max-width: 400px) {
  .info-services-2 {
    margin-left: 4rem;
  }
}

.info-services-2__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 3.5rem;
}

@media only screen and (max-width: 768px) {
  .info-services-2__service {
    padding: 2rem 3.5rem;
  }
}

.info-companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
}

@media only screen and (max-width: 900px) {
  .info-companies {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .info-companies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .info-companies__icon {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 900px) {
  .info-companies--icon-2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
}

@media only screen and (max-width: 900px) {
  .info-companies--icon-3 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5 / 6;
  }
}

@media only screen and (max-width: 900px) {
  .info-companies--icon-4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

@media only screen and (max-width: 900px) {
  .info-companies--icon-5 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
  }
}

.info-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 5rem 18rem;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 768px) {
  .info-download {
    padding: 5rem 12rem;
  }
}

@media only screen and (max-width: 600px) {
  .info-download {
    padding: 5rem 10rem;
  }
}

@media only screen and (max-width: 400px) {
  .info-download {
    padding: 5rem;
  }
}

.info-download__btn-box {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 80%;
}

@media only screen and (max-width: 600px) {
  .info-download__btn-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 100%;
  }
}

.footer {
  background-color: rgba(159, 171, 178, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__logo-box {
  padding: 3.5rem;
  height: 5rem;
  text-align: center;
}

.footer__logo {
  width: 75%;
}

@media only screen and (max-width: 768px) {
  .footer__logo {
    margin-bottom: 2.5rem;
  }
}

.footer__links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 3.5rem;
}

.footer__links ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[3];
      grid-template-columns: repeat(3, -webkit-max-content);
      grid-template-columns: repeat(3, max-content);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media only screen and (max-width: 768px) {
  .footer__links ul {
    -ms-grid-columns: (max-content)[5];
        grid-template-columns: repeat(5, -webkit-max-content);
        grid-template-columns: repeat(5, max-content);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .footer__links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer--link-1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

@media only screen and (max-width: 768px) {
  .footer--link-2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

@media only screen and (max-width: 768px) {
  .footer--link-3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
}

@media only screen and (max-width: 768px) {
  .footer--link-4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
  }
}

@media only screen and (max-width: 768px) {
  .footer--link-5 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5 / 6;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 12rem;
  padding-right: 3.5rem;
}

@media only screen and (max-width: 1160px) {
  .footer__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 6rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 40%;
    padding-left: 3rem;
  }
}

@media only screen and (max-width: 400px) {
  .footer__social {
    width: 60%;
  }
}

.footer__icon {
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
  background-color: rgba(159, 171, 178, 0.5);
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */